﻿@model Kutse_App.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<div>
    <p> Tänan sind, @Model.Name </p>
</div>
<div>
    @if (Model.WillAttend == true)
    {
        @: Ootan sind kallis sõber!
        <p>
            <img src="~/Images/smile.png" />
        </p>
    }
    else
    {
        @: Väga kurb uudis. Näeme hiljem!
        <p>
            <img src="~/Images/sad.jpg" />
        </p>
    }
    @ViewBag.Message @*VievBag.Message *@

    @if (Model.WillAttend == true)
    {
        if (Model.WillAttend.HasValue && Model.WillAttend.Value)
        {
            <form method="post" action="@Url.Action("Ankeet")">
                <input type="hidden" name="sendReminder" value="true" />
                <button type="submit">Saada meeldetuletus</button>
            </form>
        }
    }
</div>